@import "./../../../styles.scss";

section {
  width: 1920px - 94px * 4;
  overflow: hidden;
  @include dFlex($jc: space-between, $ai: flex-start, $g: 64px);
  padding: 144px 96px;
  > .left {
    @include dFlex($g: 40px);
    flex-direction: column;
    width: 560px;
    > .head {
      @include dFlex($ai: flex-start, $g: 20px);
      flex-direction: column;
      > h4 {
        font-size: 24px;
        font-family: "Karla";
      }
      > h1 {
        font-family: "Fira Code";
        font-weight: 900;
        font-size: 64px;
      }
    }
    > .problemToSolve {
      @include dFlex($ai: flex-start, $g: 16px);
      flex-direction: column;
      > div {
        @include dFlex($g: 8px);
      }
      > h2 {
        font-family: "Fira Code";
        font-size: 24px;
        color: $primary_color;
      }
      span {
        font-size: 16px;
        font-family: "Karla";
      }
    }
  }

  > .form-and-confirmation {
    .dialog {
      @include dFlex($ai: flex-start, $g: 16px);
      flex-direction: column;
      padding: 32px;
      > label {
        font-family: "Fira Code";
        font-size: 24px;
        color: $primary_color;
      }
      > input {
        border: none;
        background-color: transparent !important;
        width: 100%;
        font-family: "Karla";
        font-size: 18px;
        color: $white;
        &::placeholder {
          color: $white_80;
        }
        &:focus {
          border: none;
          outline: none;
        }
      }
      > .invalid {
		color: red;
        &::placeholder {
          color: red !important;
        }
      }
    }

    .send {
      > .check {
        @include dFlex($jc: flex-start, $g: 8px);
        padding: 40px 0 16px 0;
        input[type="checkbox"] {
          appearance: none;
          width: 20px;
          height: 20px;
          background: transparent;
          border: 2px solid $primary_color;
          border-radius: 4px;
          cursor: pointer;
        }
        input[type="checkbox"]:checked {
          background-color: transparent;
          position: relative;
        }
        input[type="checkbox"]:checked::after {
          content: "\2713";
          color: $primary_color;
          font-size: 14px;
          position: absolute;
          left: 3px;
          top: -1px;
        }
		>label{
			font-family: "Karla";
		}
      }
      > .btn-container {
        @include dFlex();
      }
    }
  }
  .confirmation {
    @include dFlex();
    span {
      font-family: "Karla";
      font-size: 24px;
      color: $primary_color;
      border: 2px solid $primary_color;
      padding: 10px 16px;
      margin: 16px 0 0 0;
      border-radius: 24px;
      background-color: $background_color;
      transform: translateX(150%);
      animation: slideInCenter 0.8s ease-out forwards;
    }
  }

  @keyframes slideInCenter {
    to {
      transform: translateX(0);
    }
  }

  .d-none {
    display: none;
  }
}

.highlighed {
  color: $primary_color;
  cursor: pointer;
}

.seperator {
  width: 620px;
  height: 2px;
  background-color: $primary_color;
}

@media (max-width: 1440px) {
  section {
    max-width: 1232px;
  }
}

@media (max-width: 1175px) {
  section {
	width: unset;
    padding: 144px 16px;
    .seperator {
      width: unset;
    }
  }
}
@media (max-width: 1050px) {
  section {
    > .form-and-confirmation {
      .send {
        > .check {
          input[type="checkbox"] {
            width: 23.5px;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .send {
    > .check {
      padding: 25px 0 15px 0;
      input[type="checkbox"] {
        width: 26px;
      }
    }
  }
}
@media (max-width: 850px) {
  .send {
    > .check {
      input[type="checkbox"] {
        width: 30px;
      }
    }
  }
}

@media (max-width: 780px) {
  section {
    flex-direction: column;
    padding: 100px 16px 0;
    > .left {
      width: 100%;
      align-items: flex-start;
      > .head {
        gap: 16px;

        > h4 {
          font-size: 18px;
        }
        > h1 {
          font-size: 30px;
        }
      }
      form {
        width: 100%;
      }
      > .problemToSolve {
        > div {
          flex-direction: column;
          align-items: flex-start;
        }
        > h2 {
          font-size: 20px;
        }
        span {
          font-size: 16px;
        }
      }
    }
    > .form-and-confirmation {
      width: -webkit-fill-available;

      .dialog {
        padding: 16px 0;
      }

      .send {
        > .check {
          padding: 25px 0 15px 0;
          input[type="checkbox"] {
            width: 20px;
          }
        }
      }
    }
  }

  .seperator {
    width: 100%;
    height: 2px;
    background-color: $primary_color;
  }
}

@media (max-width: 480px) {
  section {
    > .form-and-confirmation {
      .send .check {
        padding: 25px 0 15px 0;
        input[type="checkbox"] {
          width: 26px;
        }
      }
    }
  }
}

@media (max-width: 410px) {
  section {
    > .form-and-confirmation {
      .send .check {
        > input[type="checkbox"] {
          width: 32px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  section {
    > .form-and-confirmation {
      .send .check {
        > input[type="checkbox"] {
          width: 38px;
        }
      }
    }
  }
}
