@import "./../../../styles.scss";

section {
	max-width: 1920px - 94px * 2;
  padding: 140px 94px 144px;
  @include dFlex($jc: unset, $ai: unset, $g: 96px);
  font-family: "Karla";
  font-size: 18px;
  > img {
    width: 568px;
    height: 568px;
  }
  > div {
    padding: 100px 0 0 0;
    @include dFlex($jc: unset, $ai: flex-start, $g: 20px);
    flex-direction: column;
    > h4 {
      color: $primary_color;
      font-size: 24px;
    }
    > div {
      > h1 {
        color: $primary_color;
        font-family: "Fira Code";
        font-weight: 900;
        font-size: 64px;
      }
      background: radial-gradient(
        circle at left,
        rgba(61, 207, 182, 0.2) 0%,
        transparent 50%,
        transparent 100%
      );
      padding: 32px;
      border: 1px solid $primary_color;
      border-radius: 30px;
      color: white;
      @include dFlex($jc: center, $ai: flex-start, $g: 40px);
      flex-direction: column;
      > div {
        @include dFlex($g: 32px);
        flex-direction: column;
        > div {
          @include dFlex($ai: flex-start, $g: 16px);
          flex-direction: column;
          .img-text {
            > img {
              width: 32px;
              height: 32px;
            }
            @include dFlex($ai: flex-start, $g: 24px);
          }
        }
      }
    }
  }
}



@media (max-width: 1050px) {
  section {
    padding: 100px 16px;
    gap: 36px;
    > img {
      width: auto;
      height: 358px;
    }
  }
}

@media (max-width: 780px) {
  section {
    padding: 100px 16px;
    gap: 0;
    flex-direction: column;
    > div {
      padding: 0;
      > h4 {
		margin: 16px 0 0 0;
        font-size: 18px;
      }
      > div {
        gap: 32px;
        padding: 27px 32px;
        > h1 {
          font-size: 46px;
        }
        > div {
          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 410px) {
	section{
		>img{
			height: 280px;
		}
	}
}