@import "./../../../styles.scss";

section {
  background: radial-gradient(
    circle at left,
    rgba(61, 207, 182, 0.2) 0%,
    transparent 25%,
    transparent 50%,
    transparent 100%
  );
  font-family: "Karla";
  font-size: 18px;
  padding: 144px 96px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  > div {
    @include dFlex($jc: space-between, $ai: flex-start, $g: 96px);
    > .skillSet {
      background-color: $primary_color_10;
      border: 1px solid $primary_color;
      border-radius: 30px;
      max-width: 520px;
      padding: 32px;
      @include dFlex($ai: flex-start, $g: 40px);
      flex-direction: column;
      > div {
        @include dFlex($g: 24px);
        flex-direction: column;
        > div {
          @include dFlex($ai: flex-start, $g: 16px);
          flex-direction: column;

          > h2 {
            font-size: 24px;
            font-family: "Fira Code";
          }
        }
      }
    }
    > .technologies {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 72px;
      grid-row-gap: 40px;
      > div {
        @include dFlex($jc: flex-start, $g: 8px);
        flex-direction: column;
        > img {
          width: 60px;
          height: 60px;
        }
        > span {
          font-size: 18px;
          font-family: "Fira Code";
          text-align: center;
        }
        &:hover {
          transform: scale(1.2);
          transition: transform 175ms ease-in-out;
        }
      }
    }
  }
}

.highlighed {
  color: $primary_color;
}

#tech-10 {
  &:hover {
    .popup {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.popup {
  position: absolute;
  transform: translate(30%, -95%);
  background-color: $white;
  color: black;
  width: 190px;
  border-radius: 16px;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  opacity: 0;
  transition: opacity 175ms ease-in-out;
  pointer-events: none;
  box-shadow: 0px 0px 10px 0px;
  > span {
    color: black;
  }
  > div {
    @include dFlex($ai: flex-end, $g: 16px);
    > div {
      @include dFlex($g: 5px);
      flex-direction: column;
      > img {
        width: 32px;
      }
      > span {
        font-size: 12px;
        font-weight: 900;
        font-family: "Karla";
        color: black;
      }
    }
  }
  > .triangle {
    position: absolute;
    bottom: -14px;
    left: 29px;
  }
}

@media (max-width: 320px) {
  section {
    padding: 0 16px 100px;
    h4 {
      font-size: 18px;
    }
    > div {
      gap: 40px;
      flex-direction: column;
      > .skillSet {
        padding: 24px 32px;
        gap: 24px;
        h1 {
          font-size: 40px;
        }
        > div {
          span {
            font-size: 16px;
          }
          > div {
            > h2 {
              font-size: 20px;
              > span {
                font-size: 20px;
              }
            }
          }
        }
      }
      > .technologies {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 32px;
        > div {
          > span {
            font-size: 16px;
          }
        }
      }
    }
  }
}
