<header>
  <nav [ngClass]="{ dNone: !menuIsOpen }">
    <div class="toggle-switch">
      <div
        class="toggle-option"
        [class.active]="
          this.portfolioService.getLanguageFromSessionStorage() === 'en'
        "
        (click)="switchLanguage('en')"
      >
        EN
      </div>
      <div
        class="toggle-option"
        [class.active]="
          this.portfolioService.getLanguageFromSessionStorage() === 'de'
        "
        (click)="switchLanguage('de')"
      >
        DE
      </div>
    </div>
    <a>{{ "nav.aboutMe" | translate }}</a>
    <a>{{ "nav.skills" | translate }}</a>
    <a>{{ "nav.projects" | translate }}</a>
  </nav>
  <img
    [ngClass]="{ dNone: hideBurgerMenu }"
    class="burger"
    [src]="
      menuIsOpen
        ? 'assets/icons/close_small.svg'
        : 'assets/icons/burger-menu.svg'
    "
    (click)="toggleBurgerMenu()"
    alt="Menü öffnen / schließen"
  />
  <div class="logo">
    <img src="./../../../assets/icons/logo.svg" alt="logo" />

    <div class="name">
      <span>Lucas</span>
      <span>Weiß</span>
    </div>
  </div>
</header>
