@import "./../../../../styles.scss";

section {
  @include dFlex($g: 4px);
  flex-direction: column;
  padding: 144px 96px 0;
  > div {
    > div:first-child {
      width: fit-content;
      border-color: $primary_color;
	  padding: 8px 12px;
      cursor: pointer;
      @include dFlex($jc: flex-start);
      &:hover {
        border-color: $white;
      }
	  > img{
		width: 28px;
		height: 28px;
	  }
      > span {
        font-family: "Karla";
        font-size: 20px;
        font-weight: 900;
      }
    }
  }

  .content {
	display: flex;
	flex-direction: column;
	gap: 16px;
    h1,
    h2 {
      color: $primary_color;
      font-family: "Karla";
      margin: 16px 0 0 0;
    }
    h1 {
      font-size: 42px;
      text-align: center;
      margin: 0 0 16px 0;
      text-decoration: underline;
    }

    p {
      font-family: "Karla";
    }
  }
}
