<section>
  <div>
    <div class="button" [routerLink]="['/']">
      <img
        src="./../../../../assets/icons/arrow.svg"
        alt="close"
        class="close-icon"
      />
      <span >{{"back.text" | translate}}</span>
    </div>
    <div  class="content">
      <h1 >{{"legalNotice.headline" | translate}}</h1>

      <p>
        Lucas Weiß<br />
        Zehentgasse 5<br />
        5<br />
        74177 Bad Friedrichshall
      </p>

      <h2 >{{"legalNotice.contact" | translate}}</h2>
      <p>E-Mail: contact&#64;lucas-weiss.de</p>

      <p >{{"legalNotice.source" | translate}}: <a href="https://www.e-recht24.de">eRecht24</a></p>
    </div>
  </div>
</section>
