<section>
  <div>
    <div class="button" [routerLink]="['/']">
      <img
        src="./../../../../assets/icons/arrow.svg"
        alt="close"
        class="close-icon"
      />
      <span>{{ "back.text" | translate }}</span>
    </div>
    <div>
      <h1>{{ "privacyPolicy.title" | translate }}</h1>
      <h2>{{ "privacyPolicy.section1.title" | translate }}</h2>
      <h3>
        {{ "privacyPolicy.section1.content.generalNoteTitle" | translate }}
      </h3>
      <p>
        {{ "privacyPolicy.section1.content.generalNotes" | translate }}
      </p>
      <h3>{{ "privacyPolicy.section1.subtitle" | translate }}</h3>
      <div *ngFor="let i of [0, 1, 2, 3]">
        <h4>
          {{
            "privacyPolicy.section1.content.questionsAndAnswers." +
              i +
              ".question" | translate
          }}
        </h4>
        <p>
          {{
            "privacyPolicy.section1.content.questionsAndAnswers." +
              i +
              ".answer" | translate
          }}
        </p>
      </div>

      <h2>{{ "privacyPolicy.section2.title" | translate }}</h2>
      <p>{{ "privacyPolicy.section2.subtitle" | translate }}</p>
      <h3>{{ "privacyPolicy.section2.content.provider" | translate }}</h3>
      <p>
        {{ "privacyPolicy.section2.content.address" | translate }}
        <a
          href="https://all-inkl.com/datenschutzinformationen/"
          target="_blank"
          rel="noopener noreferrer"
          >https://all-inkl.com/datenschutzinformationen/</a
        >.
      </p>
      <br />
      <p>
        {{ "privacyPolicy.section2.content.legalBasis" | translate }}
      </p>

      <h2>{{ "privacyPolicy.section3.title" | translate }}</h2>
      <h3>
        {{
          "privacyPolicy.section3.content.subtitleDataProtection" | translate
        }}
      </h3>
      <p>
        {{ "privacyPolicy.section3.content.dataProtection1" | translate }}
      </p>
      <br />
      <p>
        {{ "privacyPolicy.section3.content.dataProtection2" | translate }}
      </p>
      <br />
      <p>
        {{ "privacyPolicy.section3.content.dataProtection3" | translate }}
      </p>
      <h3>
        {{
          "privacyPolicy.section3.content.subtitleResponsibleParty" | translate
        }}
      </h3>
      <p>
        {{ "privacyPolicy.section3.content.responsibleParty1" | translate }}
      </p>
      <br />
      <p>
        Lucas Weiß;<br />
        Zehentgasse 5<br />
        74177 Bad Friedrichshall
      </p>

      <p>E-Mail: contact&#64;lucas-weiss.de</p>
      <p>
        {{ "privacyPolicy.section3.responsibleParty2" | translate }}
      </p>

      <h3>
        {{
          "privacyPolicy.section3.content.subtitleStorageDuration" | translate
        }}
      </h3>
      <p>
        {{ "privacyPolicy.section3.content.storageDuration" | translate }}
      </p>
      <h3>
        {{
          "privacyPolicy.section3.content.subtitleGeneralLegalBasisNote"
            | translate
        }}
      </h3>
      <p>
        {{ "privacyPolicy.section3.content.generalLegalBasisNote" | translate }}
      </p>
      <h3>
        {{
          "privacyPolicy.section3.content.subtitleDataRecipients" | translate
        }}
      </h3>
      <p>
        {{ "privacyPolicy.section3.content.dataRecipients" | translate }}
      </p>
      <h3>
        {{
          "privacyPolicy.section3.content.subtitleWithdrawConsent" | translate
        }}
      </h3>
      <p>
        {{ "privacyPolicy.section3.content.withdrawConsent" | translate }}
      </p>
      <h3>
        {{ "privacyPolicy.section3.content.subtitleRightToObject" | translate }}
      </h3>
      <p>
        {{ "privacyPolicy.section3.content.rightToObject1" | translate }}
      </p>
      <br />
      <p>
        {{ "privacyPolicy.section3.content.rightToObject2" | translate }}
      </p>
      <h3>
        {{
          "privacyPolicy.section3.content.subtitleRightToComplain" | translate
        }}
      </h3>
      <p>
        {{ "privacyPolicy.section3.content.rightToComplain" | translate }}
      </p>
      <h3>
        {{
          "privacyPolicy.section3.content.subtitleDataPortability" | translate
        }}
      </h3>
      <p>
        {{ "privacyPolicy.section3.content.dataPortability" | translate }}
      </p>
      <h3>
        {{
          "privacyPolicy.section3.content.subtitleAccessCorrectionDeletion"
            | translate
        }}
      </h3>
      <p>
        {{
          "privacyPolicy.section3.content.accessCorrectionDeletion" | translate
        }}
      </p>
      <h3>
        {{
          "privacyPolicy.section3.content.subtitleRestrictProcessing"
            | translate
        }}
      </h3>
      <p>
        {{ "privacyPolicy.section3.content.restrictProcessing1" | translate }}
      </p>
      <ul>
        <li>
          {{ "privacyPolicy.section3.content.restrictProcessing2" | translate }}
        </li>
        <li>
          {{ "privacyPolicy.section3.content.restrictProcessing3" | translate }}
        </li>
        <li>
          {{ "privacyPolicy.section3.content.restrictProcessing4" | translate }}
        </li>
        <li>
          {{ "privacyPolicy.section3.content.restrictProcessing5" | translate }}
        </li>
      </ul>
      <p>
        {{ "privacyPolicy.section3.content.restrictProcessing6" | translate }}
      </p>
      <h3>
        {{ "privacyPolicy.section3.content.subtitleEncryption" | translate }}
      </h3>
      <p>
        {{ "privacyPolicy.section3.content.encryption1" | translate }}
      </p>
      <p>
        {{ "privacyPolicy.section3.content.encryption2" | translate }}
      </p>
      <h2>
        {{ "privacyPolicy.section4.title" | translate }}
      </h2>
      <h3>
        {{ "privacyPolicy.section4.content.contactForm.title" | translate }}
      </h3>
      <p>
        {{
          "privacyPolicy.section4.content.contactForm.description1" | translate
        }}
      </p>
      <br />
      <p>
        {{
          "privacyPolicy.section4.content.contactForm.description2" | translate
        }}
      </p>
      <br />
      <p>
        {{
          "privacyPolicy.section4.content.contactForm.description3" | translate
        }}
      </p>
      <h3>
        {{
          "privacyPolicy.section4.content.contactByOtherMeans.title" | translate
        }}
      </h3>
      <p>
        {{
          "privacyPolicy.section4.content.contactByOtherMeans.description1"
            | translate
        }}
      </p>
      <br />
      <p>
        {{
          "privacyPolicy.section4.content.contactByOtherMeans.description2"
            | translate
        }}
      </p>
      <br />
      <p>
        {{
          "privacyPolicy.section4.content.contactByOtherMeans.description3"
            | translate
        }}
      </p>
      <p>
        {{ "privacyPolicy.source" | translate }}
        <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
      </p>
    </div>
  </div>
</section>
