@import "./../../../../styles.scss";

section {
	max-width: 1920px - 94px * 4 + 16px;
	@include dFlex($ai: flex-start, $g: 4px);
	flex-direction: column;
	padding: 32px 16px;
  h1,
  h2,
  h3 {
    color: $primary_color;
    font-family: "Karla";
  }
  h1{
	font-size: 42px;
	text-align: center;
	margin: 0 0 16px 0;
	text-decoration: underline;
  }

  p {
    font-family: "Karla";
  }

  li{
	list-style-type: none;
	margin: 0 0 6px 0;
  }
}

@media (max-width: 320px) {
	section{
		
	}
}

