@import "./../../../../styles.scss";

section {
	@include dFlex($g: 4px);
	flex-direction: column;
	max-width: calc(1920px - 96px * 2);
	// width: 100%;
	padding: 144px 96px 0;
	> div {
		> div:first-child {
			width: fit-content;
			border-color: $primary_color;
			padding: 8px 12px;
			cursor: pointer;
			@include dFlex($jc: flex-start);
			&:hover {
			  border-color: $white;
			}
			> img{
			  width: 28px;
			  height: 28px;
			}
			> span {
			  font-family: "Karla";
			  font-size: 20px;
			  font-weight: 900;
			}
		  }
	  }
  h1,
  h2,
  h3,
  h4 {
    color: $primary_color;
    font-family: "Karla";
	margin: 16px 0 8px;
  }
  h1{
	font-size: 42px;
	text-align: center;
	text-decoration: underline;
  }

  p {
    font-family: "Karla";
  }

  li{
	font-family: "Karla";
	list-style-type: none;
	margin: 0 0 6px 0;
  }
}

.close-icon{
	cursor: pointer;
  }

@media (max-width: 810px) {
	section{
		padding: 144px 16px 0;
		h1{
			font-size: 32px;
		}
	}
}

@media ( max-width: 400px){
	section{
		h1{
			font-size: 28px;
		}
	}
}