@import "./../../../styles.scss";

section {
  @include dFlex($ai: flex-start, $g: 20);
  padding: 0 0 8px 96px;
  flex-direction: column;
  margin: 0 0 6px 0;
  > h4 {
    font-family: "Karla";
  }
  > div {
    @include dFlex($ai: flex-start, $g: 42px);
    flex-direction: column;
    > span {
      font-family: "Karla";
      width: 450px;
      text-wrap: wrap;
    }

    .project {
      cursor: pointer;
      > .seperator {
        width: 880px;
        height: 2px;
        background-color: $primary_color;
      }
      > div {
        &:not(.seperator) {
          padding: 40px 32px;
        }

        @include dFlex($jc: space-between);
        > h4 {
          font-family: "Fira Code";
          color: $white;
        }
        > .technologies {
          font-family: "Karla";
          @include dFlex($g: 5px);
          font-size: 18px;
          > .text-sperator {
            color: $primary_color;
            font-weight: 900;
          }
        }
      }
    }

    .description {
      font-size: 18px;
    }
  }
}

.popup {
  position: absolute;
  transform: translate(250%, -55%);
  transition: opacity 125ms ease-in-out;
  opacity: 0;
  > img {
    height: 200px;
    width: 300px;
    border-radius: 12px;
    transition: opacity 125ms ease-in-out;
  }
  &.shift-down {
    transform: translate(250%, -55%);
  }
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 25px;
    right: 15px;
    border-radius: 12px;
    height: 200px;
    width: 300px;
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      $primary_color 10px,
      $primary_color 12px
    );
  }
}

.project {
  &:hover {
    .popup {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.soon {
  border: none;
  cursor: default;
  &:hover {
    color: $white;
  }
}

.backdrop {
  @include dFlex();
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  z-index: 1000;
  padding: 0 !important;
  h1,
  span {
    font-family: "Karla";
  }
  > .projectInfo {
    z-index: 1010;
    @include dFlex($g: 88px);
    padding: 0 90px;
    max-width: 1248px;
    height: 670px;
    background-color: $background_color;
    background-image: linear-gradient(
      210deg,
      #08463b,
      #08463b,
      $background_color,
      $background_color,
      $background_color
    );
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    > .leftSide {
      @include dFlex($ai: flex-start, $g: 40px);
      flex-direction: column;

      .numberName {
        display: flex;
        flex-direction: column;
        gap: 24px;
        > h1 {
          font-size: 128px;
          font-weight: bold;
        }
        > h4 {
          font-family: "Fira Code";
          font-weight: bold;
          font-size: 64px;
          color: $white;
        }
      }

      .about {
        color: $primary_color;
        font-family: "Fira Code";
        font-size: 24px;
        font-weight: bold;
      }

      .description {
        display: block;
        width: 480px;
      }
      > div {
        @include dFlex($ai: flex-start, $g: 24px);
        flex-direction: column;
        > .technology_container {
          @include dFlex($jc: flex-start, $g: 16px);
          .technologies_small {
            @include dFlex($g: 4px);
            .technology {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      > .nextProject {
        @include dFlex($g: 16px);
        position: relative;
        left: 1072px;
        flex-direction: row;
        span {
          color: $primary_color;
        }
      }

      .buttons {
        @include dFlex($g: 32px);
        flex-direction: row;
        > a {
          font-family: "Fira Code";
          font-size: 18px;
          > img {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
    > .rightSide {
      @include dFlex($ai: flex-end);
      flex-direction: column;
      > .preview {
        width: 520px;
        height: 370px;
        border-radius: 30px;
        margin: 39px 0 48px 0;

        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }
    }

    .nextProject,
    .close {
      cursor: pointer;
    }

    .close {
      position: relative;
      top: -275px;
    }
  }
}
@media (max-width: 1050px) {
  section {
    padding: 0 0 8px 16px;

    .backdrop {
      > .projectInfo {
        height: 100%;
        gap: 20px;
        > .leftSide {
          .description {
            width: unset;
          }

          .nextProject {
            left: 820px;
          }
        }
        > .rightSide {
          > .preview {
            height: unset;
          }
        }

        .close {
          top: -300px;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  section {
    padding: 0 16px;
    > div {
      width: -webkit-fill-available;
      > div {
        width: -webkit-fill-available;

        .project {
          > .seperator {
            width: auto;
          }
        }
      }
    }

    .backdrop {
      > .projectInfo {
        padding: 0 16px;
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: space-between;
        > .leftSide {
          .nextProject {
            left: 612px;
          }
        }
        > .rightSide {
          > .preview {
            max-width: 300px;
          }
        }

        .close {
          top: -310px;
        }
      }
    }
  }

  .popup {
    display: none;
  }
}

@media (max-width: 480px) {
  section {
    padding: 0 16px;
    > h4 {
      font-size: 18px;
    }
    > div {
      gap: 32px;
      > h1 {
        font-size: 40px;
      }
      > span {
        font-size: 16px;
        width: unset;
      }
      > div {
        width: -webkit-fill-available;

        .project {
          > .seperator {
            width: auto;
          }
          > div {
            flex-direction: column;
            @include dFlex($ai: flex-start, $g: 10px);
            &:not(.seperator) {
              padding: 12px 0;
            }
          }
        }
      }
    }

    .backdrop {
      @include dFlex();
      justify-content: flex-start;
      > .projectInfo {
        justify-content: flex-end;
        height: 100%;
        border-radius: 0;
        flex-direction: column-reverse;
        padding: 0 12px;
        gap: 0;
        > .leftSide {
          align-items: unset;
          padding: 0;
          gap: 0;

          .numberName {
            padding: 0;
            gap: 0;
            > h1 {
              font-size: 56px;
            }
            > h4 {
              font-size: 42px;
            }
          }

          .about {
            font-size: 18px;
          }

          .description {
            font-size: 16px;
            width: fit-content;
          }

          .nextProject {
            padding: 24px 0;
            position: relative;
            left: 138px;
          }
          > div {
            gap: 12px;
            padding: 0 0 16px 0;
            > .technology_container {
              flex-wrap: wrap;
            }
          }

          .buttons {
            padding: 0;
            > a {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 16px;
            }
          }
        }

        .close {
          padding: 30px 0 40px 0;
          display: flex;
          position: relative;
          left: 190px;
          top: 16px;
        }
        > .rightSide {
          display: flex;
          align-items: center;
          width: 100%;
          > .preview {
            margin: 0;
            width: 400px;
            height: auto;
          }
        }
      }
    }
  }

  .soon {
    margin: 16px 0 0 0;
  }
}

@media (max-width: 410px) {
  section {
    .backdrop {
      > .projectInfo {
        align-items: flex-start;
        > .leftSide {
          .nextProject {
            left: 112px;
          }
        }

        .close {
          left: 332px;
        }
        > .rightSide {
          > .preview {
            width: 350px;
          }
        }

        .nextProject {
          left: 100px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  section {
    .backdrop {
      > .projectInfo {
        align-items: flex-start;
        > .leftSide {
          .nextProject {
            left: 86px;
          }
          > div {
            padding: 16px 0;
          }
        }

        .close {
          left: 278px;
        }
        > .rightSide {
          > .preview {
            width: 296px;
          }
        }
      }
    }
  }
}
