<section #boxElement class="box">
  <h4 >{{ "testimonials.headline" | translate }}</h4>
  <div class="slide-selection">
    <div
      class="testimonial-wrapper"
      *ngFor="let key of testimonialsKeys; let i = index"
    >
      <div
        class="testimonial"
        [ngClass]="{
		  previous: i === getPrevIndex(),
		  current: i === currentIndex,
		  next: i === getNextIndex(),          
		}"
      >
        <span >{{ "testimonials.entries." + key + ".quote" | translate }}</span>
        <div>
          <div class="line"></div>
          <div>
            <span >{{
              "testimonials.entries." + key + ".author" | translate
            }}</span>
            <span> - </span>
            <span >{{
              "testimonials.entries." + key + ".role" | translate
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <img
      src="./../../../assets/icons/arrow.svg"
      alt="arrow"
      (click)="changeSlide('prev')"
    />
    <div class="dots">
      <span
        *ngFor="let key of testimonialsKeys; let i = index"
        [class.active]="i === currentIndex"
        (click)="goToSlide(i)"
        >•</span
      >
    </div>
    <img
      style="rotate: 180deg"
      src="./../../../assets/icons/arrow.svg"
      alt="arrow"
      (click)="changeSlide('next')"
    />
  </div>
</section>
