@import "./../../../styles.scss";

section {
  max-width: 1920px;
  width: 100%;
  height: 500px;
  margin: 144px 0 0 0;
  @include dFlex($jc: space-between);
  flex-direction: column;
  > h4 {
    font-size: 32px;
  }
  > .slide-selection {
    @include dFlex();
    > .testimonial-wrapper {
      position: absolute;
      > .testimonial {
        @include dFlex($jc: space-between, $ai: unset);
        flex-direction: column;
        border: 2px solid $primary_color;
        border-radius: 32px;
        padding: 40px;
        background-color: #29554d;
        height: 275px;
        max-width: 460px;
		width: 100%;
        font-size: 24px;
        font-family: "Karla";
        transition: transform 125ms ease-in-out, opacity 75ms ease-in-out,
          scale 125ms ease-in-out;
        > div {
          @include dFlex($jc: space-between);
          > .line {
            width: -webkit-fill-available;
            height: 2px;
            background-color: $white;
          }
          > div {
            @include dFlex();
            > span {
              font-size: 16px;
              width: max-content;
            }
          }
        }
      }
    }
  }
  > .navigation {
    @include dFlex($g: 24px);
    > img {
      cursor: pointer;
      height: 32px;
      width: 32px;
    }
    > .dots {
      @include dFlex($g: 20px);
      > span {
        cursor: pointer;
      }
    }
  }
}

.testimonial.active {
  opacity: 1 !important;
}

.dots span.active {
  color: $primary_color;
}

.current {
  transform: scale(1);
  z-index: 2;
  opacity: 1;
}

.previous {
  transform: translateX(-92.5%) scale(0.75);
  z-index: 1;
  opacity: 0.7;
}

.next {
  transform: translateX(92.5%) scale(0.75);
  z-index: 1;
  opacity: 0.7;
}

// @media (max-width: 1440px) {
//   section {
//     width: 99vw;
//     max-width: 1440px;
//   }
// }

@media (max-width: 1450px) {
  section {
    > .slide-selection {
      > .testimonial-wrapper {
        > .testimonial {
          width: 400px;
          font-size: 22px;
          padding: 32px;
        }
      }
    }
  }
}
@media (max-width: 1450px) {
  section {
    > .slide-selection {
      > .testimonial-wrapper {
        > .testimonial {
          width: 350px;
   
        }
      }
    }
  }
}
@media (max-width: 1090px) {
  section {
    > .slide-selection {
      > .testimonial-wrapper {
        > .testimonial {
          width: 300px;
 
        }
      }
    }
  }
}
@media (max-width: 960px) {
  section {
    > .slide-selection {
      > .testimonial-wrapper {
        > .testimonial {
          width: 270px;
 
        }
      }
    }
  }
}

@media (max-width: 890px) {
  section {
    > .slide-selection {
      > .testimonial-wrapper {
        > .testimonial {
          width: 240px;
          font-size: 18px;
          padding: 22px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
	section {
		> .slide-selection {
		  > .testimonial-wrapper {
			> .testimonial {
			  width: 300px;
			}
		  }
		}
	  }
  .previous{
	display: none !important;
   }
   .next{
	display: none !important;
   }
}



@media (max-width: 480px) {
  section {
    margin: 100px 0 0 0;
    gap: unset;
    > h4 {
      text-align: center;
      padding: 0 16px;
      font-size: 24px;
    }
    > .slide-selection {
      > .testimonial-wrapper {
        > .testimonial {
          > span {
            font-size: 18px;
          }
        }
      }
    }
    > .navigation {
      > img {
        height: 32px;
        width: 32px;
      }
    }
  }
}
