@import "./../../../styles.scss";
section {
	width: 1920px;
  background-image: linear-gradient(
    225deg,
    #08463b 0%,
 
    $background_color 42.5%,
	$background_color 75%,
	$background_color 100%
  );
  height: 100vh;
  color: $white;
  @include dFlex($jc: center);
  > main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 900;

    .headline {
      @include dFlex($jc: center, $ai: center);
      flex-direction: column;
      > h2 {
        font-size: 40px;
        font-family: "Fira Code";
        font-weight: 400;
      }
      > h1 {
        font-size: 128px;
        font-family: "Karla";
        color: $white;
      }
    }

    .btns {
      @include dFlex($jc: center, $ai: center, $g: 48px);
      > a {
        font-family: "Karla";
      }
    }
  }

  .info-left-right {
	width: 1920px - 94px * 2;
    position: absolute;
    left: 50%;
    right: 50%;
	transform: translate(-50%, -50%);
    bottom: -284px;
    @include dFlex($jc: space-between, $ai: flex-end);
    padding: 0 96px;
  }

  .info-left {
    @include dFlex($jc: center, $g: 24px);
    flex-direction: column;
    > a {
      padding: 18px 12px;
      border: 1px solid $primary_color;
      border-radius: 20px;
      > img {
        height: 20px;
        animation: arrowLoop 1s infinite ease-in-out;
      }
    }
    > div {
      width: 1px;
      height: 240px;
      background-color: $primary_color;
    }
  }

  .info-right {
    @include dFlex($jc: center, $ai: center, $g: 32px);
    flex-direction: column;
    > .mailto-letters {
      writing-mode: vertical-rl;
      rotate: -180deg;
      text-decoration: none;
      color: $white;
      letter-spacing: 1px;
    }
    > .mailto-letters:hover {
      color: $primary_color;
    }
    > .mailto-icon {
      display: none;
    }

    .icons-right {
      @include dFlex($jc: center, $g: 24px);
      flex-direction: column;
      > div {
        width: 1px;
        height: 186px;
        background-color: $white;
      }
      .icon {
        &:hover {
          transform: scale(1.5);
          transition: transform 125s ease-in-out;
        }
      }
    }
  }

  .banner {
	max-width: 1920px;
    z-index: 10;
    position: absolute;
    bottom: 90px;
    left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
    padding: 12px 0;
    background-color: rgba(255, 255, 255, 0.12);
    overflow: hidden;
    white-space: nowrap;
    backdrop-filter: blur(3px);
    @include dFlex($ai: center, $g: 56px);
    rotate: -3deg;
    width: 101vw;
    > div {
      animation: bannerLoop 40s infinite linear;
      @include dFlex($jc: center, $ai: center, $g: 56px);
      > span {
        color: $primary_color;
        font-size: 32px;
      }
    }
  }
}

@keyframes bannerLoop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes arrowLoop {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@media (max-width: 1440px) {
  section {
	width: 100vw;
   
	.info-left-right{
		width: calc(100% - 96px * 2);
	}
	.banner{
		bottom: 2%;
		width: 100vw ;
	}
  }
}

@media (max-width: 810px) {
  section {
	.info-left-right{
		width: calc(100% - 16px * 2);
		padding: 0 16px;
	}
  }
}

@media (max-width: 480px) {
  section {
    > .banner {
      bottom: 10px;
      > div {
        > span {
          font-size: 24px;
        }
      }
    }
    > main {
      .headline {
        > h2 {
          font-size: 24px;
        }
        > h1 {
          font-size: 62px;
          text-align: center;
        }
      }

      .btns {
        @include dFlex($g: 24px);
        > a {
          font-size: 16px;
          padding: 10px 12px;
        }
      }
    }

    .info-left-right {
      padding: 0 16px;
	  bottom: -108px;
    }

    .info-left {
      > div {
        height: 126px;
      }
    }

    .info-right {
      > .mailto-letters {
        display: none;
      }
      > .mailto-icon {
        display: block;
      }

      .icons-right {
        @include dFlex($g: 12px);
        > div {
          height: 72px;
        }
      }
    }
	.banner{
		bottom: 0	;
	}
  }
}
