<section>
  <div class="banner">
    <div *ngFor="let i of [0, 1, 2]">
      <span>•</span>
      <span>{{'atf.marquee.remote' | translate}}</span>
      <span>•</span>
      <span>{{'atf.marquee.dev' | translate}}</span>
      <span>•</span>
      <span>{{'atf.marquee.location' | translate}}</span>
      <span>•</span>
      <span>{{'atf.marquee.interests' | translate}}</span>
    </div>
  </div>
  <main>
    <div class="headline">
      <h2>{{'atf.marquee.dev' | translate}}</h2>
      <h1>Lucas Weiß</h1>
    </div>
    <div class="btns">
      <a href="#projects" class="button">{{'atf.buttons.myWork' | translate}}</a>
      <a href="#contact" class="button">{{'atf.buttons.contact' | translate}}</a>
    </div>
  </main>
  <div class="info-left-right">
    <div class="info-left">
      <a href="#aboutMe">
        <img src="./../../assets/icons/arrow-down.svg" alt="" />
      </a>
      <div></div>
    </div>
    <div class="info-right">
      <a class="mailto-letters" href="mailto:email@email.de">contact&#64;lucasweiß.de</a>
      <div class="icons-right">
		  <a class="mailto-icon" href="mailto:email@email.de">
		  <img src="./../../../assets/icons/colored/mail.svg" alt="">
		  </a>
        <a target="_blank" href="https://github.com/LucasWeiss36?tab=repositories">
          <img src="./../../assets/icons/Github.svg" alt="" />
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/lucas-wei%C3%9F-297897347/">
          <img src="./../../assets/icons/Linkedin.svg" alt="" />
        </a>
        <div></div>
      </div>
    </div>
  </div>
</section>
