@import "./../../../styles.scss";
section {
  background-image: linear-gradient(
    225deg,
    #08463b,
    rgb(8, 70, 59),
    $background_color,
    $background_color,
    $background_color
  );

  height: 100vh;
  width: 100%;
  color: $white;
  @include dFlex($jc: center);

  > main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .headline {
      @include dFlex($jc: center, $ai: center);
      flex-direction: column;
      > h2 {
        font-size: 40px;
        font-family: "Fira Code";
        font-weight: 400;
      }
      > h1 {
        font-size: 128px;
        font-family: "Karla";
        color: $white;
      }
    }
    .btns {
      @include dFlex($jc: center, $ai: center, $g: 48px);
    }
  }
  .info-left-right {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    @include dFlex($jc: space-between, $ai: flex-end);
    padding: 0 96px;
  }
  .info-left {
    @include dFlex($jc: center, $g: 24px);
    flex-direction: column;
    > a {
      padding: 18px 12px;
      border: 1px solid $primary_color;
      border-radius: 20px;
      > img {
        height: 20px;
        animation: arrowLoop 1s infinite ease-in-out;
      }
    }
    > div {
      width: 1px;
      height: 240px;
      background-color: $primary_color;
    }
  }
  .info-right {
    @include dFlex($jc: center, $ai: center, $g: 32px);
    flex-direction: column;
    > .mailto-letters {
      writing-mode: vertical-rl;
      rotate: -180deg;
      text-decoration: none;
      color: $white;
      letter-spacing: 1px;
    }
    > .mailto-icon {
      display: none;
    }
    .icons-right {
      @include dFlex($jc: center, $g: 24px);
      flex-direction: column;
      > div {
        width: 1px;
        height: 186px;
        background-color: $white;
      }
    }
  }

  .banner {
    z-index: 10;
    position: absolute;
    bottom: 45px;
    right: 1px;
    padding: 12px 0;
    background-color: rgba(255, 255, 255, 0.12);
    overflow: hidden;
    white-space: nowrap;
    backdrop-filter: blur(3px);
    @include dFlex($ai: center, $g: 56px);
    rotate: -3deg;
    width: 101vw;
    > div {
      animation: bannerLoop 40s infinite linear;
      @include dFlex($jc: center, $ai: center, $g: 56px);
      > span {
        color: $primary_color;
        font-size: 32px;
      }
    }
  }
}

@keyframes bannerLoop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes arrowLoop {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@media (max-width: 320px) {
  section {
    > .banner {
      > div {
        > span {
          font-size: 24px;
        }
      }
    }
    > main {
      .headline {
        > h2 {
          font-size: 24px;
        }
        > h1 {
          font-size: 62px;
          text-align: center;
        }
      }
      .btns {
        @include dFlex($g: 24px);
        > a {
          font-size: 18px;
        }
      }
    }
    .info-left-right {
      padding: 0 16px;
    }
    .info-left {
      > a {
        > img {
        }
      }
      > div {
        height: 175px;
      }
    }
    .info-right {
      > .mailto-letters {
        display: none;
      }
      > .mailto-icon {
        display: block;
      }
      .icons-right {
        @include dFlex($g: 12px);
        > div {
          height: 112px;
        }
      }
    }

  }
}
