@import "./../../../styles.scss";

section {
  @include dFlex($jc: space-between, $ai: flex-end);
  padding: 64px 96px;
  > .info {
    order: 1;
    @include dFlex($ai: flex-start, $g: 32px);
    flex-direction: column;
    > .logo {
      @include dFlex($jc: center, $ai: flex-end, $g: 8px);
      > div {
        @include dFlex($jc: center, $ai: flex-start);
        flex-direction: column;
        color: $white;
        > span {
          font-family: "Fira Code";
          font-weight: 900;
          font-size: 30px;
          margin: -10px 0 0 0;
        }
      }
    }
    > .ro-lo {
      @include dFlex($ai: flex-start, $g: 8px);
      flex-direction: column;
      font-family: "Karla";
      > div {
        @include dFlex($ai: center, $g: 4px);
        span {
          max-width: 150px;
        }
      }
    }
  }
  > .copyright {
    order: 2;
    color: $primary_color;
    font-family: "Fira Code";
    font-size: 18px;
  }
  > .links {
    order: 3;
    @include dFlex($ai: flex-start, $g: 8px);
    flex-direction: column;
    > a {
      text-decoration: none;
      color: $white;
      font-family: "Karla";
      font-size: 16px;
    }
  }
}

@media (max-width: 1050px) {
  section {
    padding: 64px 16px 32px;
  }
}

@media (max-width: 480px) {
  section {
    padding: 64px 16px 0;
    flex-direction: column;
    align-items: center;
    > .info {
      align-items: center;
      order: 1;
      gap: 16px;
      .logo {
        img {
          width: 50px;
        }
        > div {
          > span {
            font-size: 24px;
          }
        }
      }
      > .ro-lo {
        align-items: center;
        > div {
          @include dFlex($ai: center, $g: 4px);
          span {
            max-width: unset;
          }
        }
        span {
          text-align: center;

          font-family: "Karla";
          font-size: 14px;
        }
      }
    }
  }
  .copyright {
    padding: 8px 0 16px;
    order: 4 !important;
  }
  .links {
    padding: 16px 0;
    flex-direction: row !important;
    order: 2;
  }
}
