<section>
  <div class="info">
    <div class="logo">
      <img routerLink="/" src="./../../../assets/icons/logo.svg" alt="logo" />
      <div>
        <span>Lucas</span>
        <span>Weiss</span>
      </div>
    </div>
	<div class="ro-lo">
		<span >{{'footerInfo.role' | translate}}</span>
		<div>
			<span >{{'footerInfo.location' | translate}}</span>
		</div>
	</div>
  </div>
  <span class="copyright">© Lucas Weiss 2025</span>
  <div class="links">
	<a target="_blank" href="https://github.com/LucasWeiss36?tab=repositories">GitHub</a>
	<a target="_blank" href="https://www.linkedin.com/in/lucas-weiss-36/">LinkedIn</a>
	<a href="mailto:contact@lucas-weiss.de">Email</a>
	<a [routerLink]="['/legal-notice']" >{{'footerInfo.legalNotice' | translate}}</a>
  </div>
  
</section>

