<section>
  <div class="info">
    <div class="logo">
      <img src="./../../../assets/icons/logo.svg" alt="logo" />
      <div>
        <span>Lucas</span>
        <span>Weiß</span>
      </div>
    </div>
	<div class="ro-lo">
		<span> {{"footerInfo.role" | translate}}</span>
		<div>
			<span> {{"footerInfo.location" | translate}}</span>
		</div>
	</div>
  </div>
  <span class="copyright">© Lucas Weiß 2025</span>
  <div class="links">
	<a target="_blank" href="https://github.com/LucasWeiss36?tab=repositories">Github</a>
	<a target="_blank" href="">LinkedIn</a>
	<a href="mailto:email@email.de">Email</a>
	<a target="_blank" href="">{{"footerInfo.legalNotice" | translate}}</a>
  </div>
</section>

