<section>
  <div class="banner">
    <div>
      <span>•</span>
      <span>Available for remote work</span>
      <span>•</span>
      <span>Frontend Developer</span>
      <span>•</span>
      <span>Based in Bad Friedrichshall</span>
      <span>•</span>
      <span>Open to work</span>
    </div>
    <div>
      <span>•</span>
      <span>Available for remote work</span>
      <span>•</span>
      <span>Frontend Developer</span>
      <span>•</span>
      <span>Based in Bad Friedrichshall</span>
      <span>•</span>
      <span>Open to work</span>
    </div>
    <div>
      <span>•</span>
      <span>Available for remote work</span>
      <span>•</span>
      <span>Frontend Developer</span>
      <span>•</span>
      <span>Based in Bad Friedrichshall</span>
      <span>•</span>
      <span>Open to work</span>
    </div>
  </div>
  <main>
    <div class="headline">
      <h5>Frontend Developer</h5>
      <h1>Lucas Weiß</h1>
    </div>
    <div class="btns">
      <button>Check my work</button>
      <button>Contact me</button>
    </div>
  </main>
  <div class="info-left-right">
    <div class="info-left">
      <a href="">
        <img src="./../../assets/icons/arrow-down.svg" alt="" />
      </a>
      <div></div>
    </div>
    <div class="info-right">
      <a href="email@email.de">email&#64;email.de</a>
      <div class="icons-right">
        <a href="">
          <img src="./../../assets/icons/Github.svg" alt="" />
        </a>
        <a href="">
          <img src="./../../assets/icons/Linkedin.svg" alt="" />
        </a>
        <div></div>
      </div>
    </div>
  </div>
</section>
